# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
TVB_Gabe3_for_pcb_design/!!!-IMPORTANT NOTE!!! - TVBGone code will NOT compile in Arduino 1.5.7 or later, due to using a newer gcc....txt
TVB_Gabe3_for_pcb_design/!GS 20141025 - this version removes Pin 4 as an extra GND pin, since I have a good PCB designed board now.txt
temp/!!!-IMPORTANT NOTE!!! - TVBGone code will NOT compile in Arduino 1.5.7 or later, due to using a newer gcc....txt
temp/!GS 20141025 - this version removes Pin 4 as an extra GND pin, since I have a good PCB designed board now.txt
